# 🚫 Archivos generales a ignorar
node_modules/
.env
.next/
pnpm-lock.yaml
package-lock.json

# 🧠 Archivos específicos del backend
/backend/node_modules/
/backend/.env

# 🧪 Archivos de pruebas o temporales
*.log
.DS_Store
*.swp
*.swo
*.bak

# 📦 Ignorar backups que tienes en tu proyecto
*bk.*
estructura-frontend*.txt
